
    <div *ngIf="MarvelComics" class="user-card">
        <p>CharacterName with power: {{MarvelComics.CharacterName |titlecase}}<p>
        <p>Id:{{MarvelComics.id}}</p>
        <p>weapons: {{MarvelComics.weapons | uppercase}}</p>
        <p>Age: {{MarvelComics.age}}</p>
        <p>Price: {{MarvelComics.price | currency:'CAD'}}</p>
        <p *ngIf="MarvelComics .iscanfly==true">Can {{MarvelComics.CharacterName}} fly:-Yes</p>
        <p *ngIf="MarvelComics .iscanfly!=true">Can {{MarvelComics.CharacterName}} fly:-No</p>
    </div>
