<div class="mat-container">
  <h2>Marvel Comics List</h2>
    <mat-list class="user" *ngFor="let MarvelComics of MarvelComics" [routerLink]="['/MarvelComics', MarvelComics.id]" [appHoverHighlight]="'red'" role="list">
      <mat-list-item>Id:{{MarvelComics.id}}</mat-list-item>
      <mat-list-item>CharacterName with Power: {{MarvelComics | characterPower | titlecase}}</mat-list-item>
      <mat-list-item>weapons: {{MarvelComics.weapons | uppercase}}</mat-list-item>
      <mat-list-item>age: {{MarvelComics.age}}</mat-list-item>
      <mat-list-item>Can They Fly: {{MarvelComics.iscanfly?'Yes':'No'}}</mat-list-item>
      <mat-list-item>Price: {{MarvelComics.price | currency:'CAD'}}</mat-list-item>
      <div class="button-group">
      <button mat-raised-button color="primary" type="button" (click)="delete(MarvelComics.id)">Delete</button>
      <button mat-flat-button color="primary" type="button" (click)="edit()">Edit</button>
      </div>
      </mat-list>
</div>
