<div class="container">
  <h2>Student List</h2>
  <table>
    <thead>
    <tr>
      <th>CharacterName</th>
      <th>weapons</th>
      <th>age</th>
      <th>iscanfly</th>
      <th>power</th>
      <th>photos</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let MarvelComics of MarvelComics;" (click)="selectUser(MarvelComics)">
      <td>{{MarvelComics.CharacterName}}</td>
      <td>{{MarvelComics.weapons}}</td>
      <td>{{MarvelComics.age}}</td>
      <td>{{MarvelComics.iscanfly?'Yes':'No'}}</td>
      <td>{{MarvelComics.power}}</td>
      <td><img [src]="MarvelComics.photos"></td>
    </tr>
    </tbody>
</table>
  <app-marvel-hero-list-item [MarvelComics]= "selectedUser"></app-marvel-hero-list-item>
</div>
